body html {
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    margin-left: 50%;
    background-color: grey;
    width: 40%;
    min-width: 600px;
}

.selected {
    width: 100%;
}

.workingArea {
    width: 100%;
}

.hidden {

}